body {
    background-color: beige;
}

h1 {
    color: brown;
    text-align: center;
}

.list.home {
    color: brown;
    font-size: 24px;
}

a {
    color: brown;
}

h2 {
    color:brown;
}
img {
    width: 100%;
    height: auto;
}
.list.recipe {
    color: brown;
    font-size: 20px;
}